@using X.PagedList
@using X.PagedList.Mvc.Core
@model ProductIndexVM

<div class="ms-5 d-flex flex-column justify-content-start align-items-start" style="width: 65%;">

    <h2 class="mx-3">Product List</h2>
    <table class="table product-index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>In Stock</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Color</th>
                <th style="max-width: 250px;">Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    if (product != null && product.Images != null)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Name</td>
                            <td>@product.Desc</td>
                            <td>@product.Price.ToString("N2")</td>
                            <td>@product.Quantity</td>
                            <td>@product.InStock</td>
                            <td>@product.Category?.Name</td>
                            <td>@product.Brand?.Name</td>
                            <td>@product.Color?.Name</td>
                            <td>
                                <div class="d-flex flex-wrap" style="width: 250px; gap:5px;">
                                    @foreach (var image in product.Images)
                                    {
                                        <img src="/img/featured/@image.ImgUrl" alt="" style="max-width: 50px; max-height: 50px;" /><br />

                                    }
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <p>No products available.</p>
            }
        </tbody>
    </table>

    <div class="pagination-container d-flex justify-content-center w-100">
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page }))
    </div>
    <a class="btn btn-info mx-3" asp-controller="Product" asp-action="Add">Add Product</a>
</div>
